{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}
<div class="jumbotron">

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }}">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <h1 class="display-4">Welcome to spookify{% if current_user.is_authenticated %}, {{ current_user.name }}{% endif %}!
    </h1>
    <p class="lead">Create your own playlist for free by telling us your preferences</p>
    <hr class="my-4">
    <p>This is the final DIS project created by William and Frida. Start creating by clicking the
        playlist button above. To browse premade playlists, click the browse button. If you want to
        save your playlist, you can create an account and log in.
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="card">
            <img src="{{ url_for('static', filename='img/cleaning.jpeg') }}" class="card-img-top" alt="cleaning">
            <div class="card-body">
                <h5 class="card-title">Find your cleaning jam</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <img src="{{ url_for('static', filename='img/cat.jpeg') }}" class="card-img-top" alt="cat">
            <div class="card-body">
                <h5 class="card-title">Relax with music</h5>
                <p class="card-text">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <img src="{{ url_for('static', filename='img/party.jpeg') }}" class="card-img-top" alt="party">
            <div class="card-body">
                <h5 class="card-title">Listen with others</h5>
                <p class="card-text">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}